<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>병역일터 채용공고</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">
</head>
<body>
<nav th:replace="~{navbar :: navbarFragment}"></nav>

<div class="container my-3">
    <table class="table table-bordered align-middle">
        <tbody>
        <tr>
            <th scope="row" style="width: 15%">공고 제목</th>
            <td colspan="3" style="width: 85%">
                <input class="form-control" id="keyword" placeholder="검색어를 입력하세요" th:value="${keyword}" type="text">
            </td>
        </tr>
        </tbody>
    </table>
    <p class="text-end">
        <button class="btn btn-primary" id="searchButton" type="button">검색</button>
    </p>

    <div th:each="notice:${notices}">
        <table class="table table-hover table-striped-columns align-middle my-3">
            <tbody>
            <tr>
                <th scope="row" style="width: 15%">채용공고</th>
                <td style="width: 35%">
                    <a target="_blank"
                       th:href="'https://work.mma.go.kr/caisBYIS/search/cygonggogeomsaekView.do?cygonggo_no=' + ${notice.noticeNumber()}"
                       th:text="${notice.title()}"></a>
                </td>
                <th scope="row" style="width: 15%">등록일 / 마감일</th>
                <td style="width: 35%"
                    th:text="${#temporals.format(notice.createdDate(), 'yy-MM-dd')} + ' / ' + ${#temporals.format(notice.deadlineDate(), 'yy-MM-dd')}"></td>
            </tr>
            <tr>
                <th scope="row" style="width: 15%">업체명</th>
                <td style="width: 35%" th:text="${notice.enterprise().name()}"></td>
                <th scope="row" style="width: 15%">업종</th>
                <td style="width: 35%" th:text="${notice.enterprise().businessType()}"></td>
            </tr>
            <tr>
                <th scope="row" style="width: 15%">담당업무</th>
                <td style="width: 35%" th:text="${notice.task()}"></td>
                <th scope="row" style="width: 15%">급여조건</th>
                <td style="width: 35%"
                    th:text="${notice.minimumSalary() div 10000} + '만원 ~ '
                    + ${notice.maximumSalary() div 10000} + '만원'"></td>
            </tr>
            <tr>
                <th scope="row" style="width: 15%">고용형태</th>
                <td style="width: 35%" th:text="${notice.agentType()}"></td>
                <th scope="row" style="width: 15%">요원형태</th>
                <td style="width: 35%" th:text="${notice.serviceStatusType()}"></td>
            </tr>
            <tr>
                <th scope="row" style="width: 15%">최종학력</th>
                <td style="width: 35%" th:text="${notice.highestEducationLevel()}"></td>
                <th scope="row" style="width: 15%">경력구분</th>
                <td style="width: 35%" th:text="${notice.experienceDivision()}"></td>
            </tr>
            <tr>
                <th scope="row" style="width: 15%">근무지</th>
                <td colspan="3" style="width: 85%" th:text="${notice.serviceAddress()}"></td>
            </tr>
            <tr>
                <th scope="row" style="width: 15%">복리후생</th>
                <td colspan="3" style="width: 85%" th:text="${notice.welfare()}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${notices.isFirst()} ? 'disabled'">
                <a aria-label="Previous" class="page-link" th:href="@{/notices(page=${notices.getNumber()-1})}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <li class="page-item"
                th:classappend="${page == notices.getNumber()} ? 'active'"
                th:each="page: ${#numbers.sequence(0, notices.getTotalPages()-1)}"
                th:if="${page >= notices.getNumber()-5 and page <= notices.getNumber()+5}">
                <a class="page-link" th:href="@{/notices(page=${page})}" th:text="${page}"></a>
            </li>

            <li class="page-item" th:classappend="${notices.isLast()} ? 'disabled'">
                <a aria-label="Next" class="page-link" th:href="@{/notices(page=${notices.getNumber()+1})}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<script crossorigin="anonymous"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("searchButton").addEventListener("click", function () {
            var keyword = document.getElementById("keyword").value;

            var queryString = "?";
            queryString += "keyword=" + keyword;

            if (queryString !== "?") {
                window.location.href = window.location.pathname + queryString;
            }
        });
    });
</script>
</body>
</html>
